---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---
Broadly speaking, my research interests are in cosmology and the fundamental physics that give rise to the inititial conditions of the early-Universe.

My current research explores the Epoch of Reionization and associated Cosmic Dawn. Specifically, I address computational bottlenecks in 21 cm cosmology, primary beam modeling, and optimizing statistical methods more broadly. For more information about the group, check out the <a href="https://sites.brown.edu/poberlab/">Pober Lab</a> at Brown University. 

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



